
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header{
  background-color:black;
  padding: auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100vw;
  height:100px;
}
#name{
  color:white;
  padding:0px 34px;
}
#mune{
  margin: 0px;
  padding: 0px;
}
#mune ul{
  display:inline-block;
  width:50vw;
} 
#mune ul li{
  float:left;
  list-style:none;
}
#mune ul li a{
  padding:4px 34px;
  margin:10px;
  background:black;
  color: white;
  text-decoration: none;
  border:1px solid white;
  border-radius: 4px;
}
#mune ul li a:hover{
  background:white;
  color:black;
}
#slider{
  width:80%;
  height:400px;
  position: absolute;
  left:50%;
  top:100px;
  background-size:100% 100%;
  background-image:url(image2.jpg);
  transform:translate(-50%,0%);
  animation:slider 9s infinite linear;
  margin-top:12px;
}
@keyframes slider{
  0%{background-image:url(image2.jpg);
}
  
  35%{background-image:url(image1.jpg);
}
  
  70%{background-image:url(image.jpg);
}
}
.h2{
  color:black;
  
}
.h2 h2{
  position:absolute;
  top:550px;
  left:50%;
  transform:translate(-50%,0px);
}
